<h3>Update my group</h3>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

    <%= f.label :name %> <%= f.text_field :name %>
    <br/>
  <%= f.submit 'Update', :class=>"action_button" %>
<% end %>
<h3>Delete my group</h3>
    <%= link_to 'Destroy', @group, :confirm => 'Are you sure?', :method => :delete %>