<h3>Edit my profile</h3>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <%= f.label :username %> <%= f.text_field :username %>
  <br/>
    <%= f.label :email %> <%= f.text_field :email %>
  <br/>
    <%= f.label :password %> <%= f.text_field :password %>
  <br/>
    <%= f.submit 'Save', :class=>"action_button" %> <%= link_to "Annuler", root_path%>
<% end %>

<h3>Delete my profile</h3>
<%= link_to 'Delete my account', current_user, :confirm => 'Are you sure?', :method => :delete %>
