<div id="identification">
  <%if current_user%>
    <p>Bienvenue <%=current_user.username%> :)<br/>
    <%= link_to "Logout", logout_path %></p>
  <%else%>
  <% form_for(@user_session) do |f| %>
  <%= f.error_messages %>

  <p align="right">
    Username <%= f.text_field :username %>
    <br/>
    Password <%= f.password_field :password %><br/>
    <%= f.submit 'Go !',:class=>"action_button" %>
<% end %>
<%= link_to "Nouveau compte ?", {:controller=>"users", :action => :new}%>
  </p>
  <%end%>
</div>